
@import url('https://fonts.googleapis.com/css?family=Norican');

body {
  background-color: #f8d0d2;
}


.App-logo {
  height: 7em;
  padding:.5em;
  margin-bottom:-2em;
}

.App-header {
  background-color: #FFFFFF;
  height: auto;
  padding: 20px;
  color: black;
  border-bottom: #5cc8c0 .5rem solid;
  text-align:center;
}

.App-body{
  background-color:white;
  height:100%;
  padding:1rem 2.5rem;
  margin-top:2rem;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.App-title {
  font-size: 3.5em;
  line-height:.5em;
  font-family: 'Norican', cursive;
  display:inline-block;
}

.App-intro {
  font-size: large;
}


